<link rel='stylesheet' href='/stylesheets/navbar.css' />
{{#if login }}
<nav>	
	<img id="logo"src='/images/flavorhub.png'>
	<div class="nav-left">
			<ul>
				<li><a id="first" href="/products">Browse</a></li>
			</ul>
	</div>
	<div class="nav-right">
			<ul>
				<li><a href="/shopping_cart">ENG</a></li>
				<li><a href="/logout">Logout</a></li>
<button class="button"><a id="button"href="/profile">Orders</a></button>
			</ul>
	</div>
			<div id="retainer">
			<ul>
			<div class="dropdown">
				<li><a>&#9776;</a></li>
				<div class="dropdown-content">
				<a >Home</a>
    			<a >Our programs</a>
    			<a>Contact</a>
    			</div>
				<button class="button" ><a id="button">Let's Cooperate</a></button>
			</ul>
			</div>
</nav>
{{ else }}
<nav>	
	<div class="nav-left">
		<img id="logo"src='/images/flavorhub.png'>
	
			<ul>

				<li><a id="first" href="/products">Browse</a></li>
			</ul>
	</div>
	<div class="nav-right">
			<ul>
				<li><a href="/shopping_cart">ENG</a></li>
				<li><a href="/signup">Sign up</a></li>
				<li><a href="/login">Login</a></li>
			</ul>
	</div>
			<div id="retainer">
			<ul>
			<div class="dropdown">
				<li><a>&#9776;</a></li>
				<div class="dropdown-content">
				<a >Home</a>
    			<a >Our programs</a>
    			<a>Contact</a>
    			</div>
				<button class="button" ><a id="button">Let's Cooperate</a></button>
			</ul>
			</div>
</nav>
{{/if}}