<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/{{style}}'>
 <script src="https://kit.fontawesome.com/54b9ae0673.js"></script>

  </head>
  <body>
    {{>navbar}}
    {{{body}}}
  </body>
</html>
