<div id="chat-wrapper">
    <div id="chatbox">
        <a href="http://google.com">
            <div id="chatSlide">
                <div id="name">
                    Profile Pic
                </div>
                <div id="chatMessage">
                    Profile Pic Profile Pic Profile Pic Profile Pic Profile Pic Profile Pic
                </div>
            </div>
        </a>
    </div>
</div>

    