
<div id="padding"></div>
<div id='container'>
  <form action="/checkout" method="post" id="payment-form">
    <div class="form-row">
      <label for="card-element">
        Credit or debit card
      </label>
      <div id="card-element">
      <!-- A Stripe Element will be inserted here. -->
      </div>
      <!-- Used to display Element errors. -->
      <div id="card-errors" role="alert"></div>
   </div>
  <button type="payment">Submit Payment</button>
  </form>
</div>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript" src="javascripts/checkout.js"></script>
<script> var stripePublicKey={{stripePublicKey}}</script>