<div id="slide1">
	<div id="Main-title">
		<img id="prawns" src="/images/prawns.png">
		<a><p class="title1">Fresh specialty ingredients</p>
			<p class="subtitle1">Delivered straight to your hands </p></a>
			<p><button class=button-subsciption>Get started</button></p>
	</div>
</div>
<div id="slide2">
<div id="Main-title2">
		<a><p class="title2">A Cheaper, Simpler, Faster, Better Service</p>
			<div class="row">
  			<div class="columnslide2">
  				<p class="Bestprices">
  				<br>Best Prices</br></p>
  				<p class="dollarsign">-30%</p>
  				<p class="DescriptionPrices"><br>Price reduction on an<br>Average Consultation</br></p>
  				</p>
    		</div>
  			<div class="columnslide2">
  				<p class="Bestprices">
  				<br>Accessible</br></p>
  				<p class="dollarsign">24/7</p>
  				<p class="DescriptionPrices"><br>Anywhere in the world</br>
    		</div>
    		<div class="columnslide2">
  				<p class="Bestprices">
  				<br>Best Selections</br></p>
  				<p class="dollarsign">500+</p>
  				<p class="DescriptionPrices"><br>Largest herbal selection anywhere</br></p>
  				</p>
    		</div>
			</div>
	</div>
	</div>