
   <div id="wrapper">
   <form action="/signup" method="post">
    <div >
     <label id="label">Username</label>
     <input type="text" class="form-control" name="username" placeholder="youremail@example.com">
    </div>
    <div>
     <label id="label">Password</label>
     <input type="text" class="form-control" name="password">
    </div>
    <div>
     <input type="hidden"  name="csrf">
    </div>
    <div>
    </div>
    <button type="submit" class="">Register</button>
   </form>
  </div>